{{ partial "header.html" . }}
<h1>{{.Title}}</h1>
{{- range .Data.Pages }}
<h2>{{ .Title }}</h2>
<div>
<table class="TableWithBorders" style="width: 75%; margin: auto;"> <tbody>
<tr>
	<td style="text-align: left;" >School</td>
	<td style="text-align: right;"><a href="GSKSchoolURL">{{ .Params.GSKSchool }}</a></td>
</tr><tr>
	<td style="text-align: left;" >Department</td>
	<td style="text-align: right;"><a href="GSKDepartmentURL">{{ .Params.GSKDepartment }}</a></td>
</tr><tr>
	<td style="text-align: left;" >Place</td>
	<td style="text-align: right;">{{ .Params.GSKCity }}</td>
</tr><tr>
	<td style="text-align: left;" >Level</td>
	<td style="text-align: right;">{{ .Params.GSKLevel }}</td>
</tr><tr>
	<td style="text-align: left;" >Group</td>
	<td style="text-align: right;">{{ .Params.GSKGroup }}</td>
</tr><tr>
	<td style="text-align: left;" rowspan="3">Period</td>
	<td style="text-align: right;">{{  dateFormat "2/Jan/2006" .Params.GSKStartDate }} &mdash; {{  dateFormat "2/Jan/2006" .Params.GSKEndDate }}</td>
</tr><tr>
	<td style="text-align: right;" >{{ .Params.GSKTotalPeriod }} Hrs.</td>
</tr><tr>
	<td style="text-align: right;" >{{ .Params.GSKPeriodPerWeek }} Hrs./Wk.</td>
</tr>
</tbody></table>
<p style="text-align: right;">(<a href="{{ .Permalink }}">Click here for more details</a>)</p>
</div>
{{- end }}
<br/>
{{ partial "footer.html" . -}}