body {font-family: "Roboto", sans-serif}
.w3-sidenav a {padding:16px;font-weight:bold}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    black;
	opacity:  0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
   opacity:  0.5;
}

bibtex { display: none; }
.BibTeXRawCodeBlock {
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.BibTeXRawCodeBlock {
	word-wrap: break-word;
}
