{{ partial "header.html" . }}
<div class="w3-row-padding">
	<div class="w3-col m6 l4 s12  w3-margin-bottom">
		<div class="w3-hover-shadow w3-border w3-border-theme">
			<header class="w3-container w3-theme"><h5 class="w3-center">Recent courses</h5></header>			
			{{- range first 5 (where .Data.Pages "Section" "courses") -}}
			<div class="w3-container w3-center w3-margin-0 w3-padding-0">
				<a href="{{ .Permalink }}" class="w3-button w3-white w3-block w3-left-align w3-border w3-border-theme w3-ripple">
					{{ .Title }}
				</a>
			</div>
			{{- end -}}
			<div class="w3-container w3-center  w3-margin-0 w3-padding-0"><a href="{{ .Site.BaseURL }}courses" class="w3-button w3-theme w3-ripple w3-block">See more</a></div>
		</div>
	</div>
	<div class="w3-col m6 l4 s12  w3-margin-bottom">
		<div class="w3-hover-shadow w3-border w3-border-theme">
			<header class="w3-container w3-theme"><h5 class="w3-center">Recent projects</h5></header>			
			{{- range first 5 (where .Data.Pages "Section" "projects") -}}
			<div class="w3-container w3-center w3-margin-0 w3-padding-0">
				<a href="{{ .Permalink }}" class="w3-button w3-white w3-block w3-left-align w3-border w3-border-theme w3-ripple">
					{{ .Title }}
				</a>
			</div>
			{{- end -}}
			<div class="w3-container w3-center  w3-margin-0 w3-padding-0"><a href="{{ .Site.BaseURL }}projects" class="w3-button w3-theme w3-ripple w3-block">See more</a></div>
		</div>
	</div>
	<div class="w3-col m6 l4 s12  w3-margin-bottom">
		<div class="w3-hover-shadow w3-border w3-border-theme">
			<header class="w3-container w3-theme"><h5 class="w3-center">Recent tools</h5></header>			
			{{- range first 5 (where .Data.Pages "Section" "tools") -}}
			<div class="w3-container w3-center w3-margin-0 w3-padding-0">
				<a href="{{ .Permalink }}" class="w3-button w3-white w3-block w3-left-align w3-border w3-border-theme w3-ripple">
					{{ .Title }}
				</a>
			</div>
			{{- end -}}
			<div class="w3-container w3-center  w3-margin-0 w3-padding-0"><a href="{{ .Site.BaseURL }}tools" class="w3-button w3-theme w3-ripple w3-block">See more</a></div>
		</div>
	</div>
	<div class="w3-col m6 l4 s12  w3-margin-bottom">
		<div class="w3-hover-shadow w3-border w3-border-theme">
			<header class="w3-container w3-theme"><h5 class="w3-center">Recent posts</h5></header>			
			{{- range first 5 (where .Data.Pages "Section" "posts") -}}
			<div class="w3-container w3-center w3-margin-0 w3-padding-0">
				<a href="{{ .Permalink }}" class="w3-button w3-white w3-block w3-left-align w3-border w3-border-theme w3-ripple">
					{{ .Title }}
				</a>
			</div>
			{{- end -}}
			<div class="w3-container w3-center  w3-margin-0 w3-padding-0"><a href="{{ .Site.BaseURL }}posts" class="w3-button w3-theme w3-ripple w3-block">See more</a></div>
		</div>
	</div>
</div>
{{ partial "footer.html" . -}}