{{ partial "header.html" . }}
<table style="width: 100%;">
<tr>
	<td style="vertical-align: top; width: 50%;">
		<table>
			<tr>
				<td><h2>Courses</h2></td>
				<td>(<a href="{{ .Site.BaseURL }}courses" style="font-size: 12px;" >View all</a>)</td>
			</tr>
		</table>
		{{- range first 10 .Data.Pages -}}
			{{- if eq .Type "courses"}}
				&#x25BA;&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a><br/>
			{{- end -}}
		{{- end }}
	</td>
	<td style="vertical-align: top;">
		<table>
			<tr>
				<td><h2>Projects</h2></td>
				<td>(<a href="{{ .Site.BaseURL }}projects" style="font-size: 12px;" >View all</a>)</td>
			</tr>
		</table>
		{{- range .Data.Pages -}}
			{{- if eq .Type "projects"}}
				&#x25BA;&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a><br/>
			{{- end -}}
		{{- end }}
	</td>
</tr><tr>
	<td style="vertical-align: top;" colspan="2">
		<table>
			<tr>
				<td><h2>Posts</h2></td>
				<td>(<a href="{{ .Site.BaseURL }}posts" style="font-size: 12px;" >View all</a>)</td>
			</tr>
		</table>
		{{- range .Data.Pages -}}
			{{- if eq .Type "posts"}}
				&#x25BA;&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a><br/>
			{{- end -}}
		{{- end }}
	</td>
</tr>
</table>
<br/>
{{ partial "footer.html" . -}}