{{- partial "header.html" . -}}
<div class="w3-container w3-padding-16">
	<div class="w3-theme-l4">
		<table class="w3-table">
			{{- if .Params.ExtraDetails -}}
			{{- range .Params.ExtraDetails -}}
			<tr>
				<td style="text-align: left;">{{ .Name }}</td>
				<td style="text-align: right;">{{ if .URL }}<a href="{{ .URL }}" target="_blank">{{ end }}{{ .Text }}{{ if .URL }}</a>{{ end }}</td>
			</tr>
			{{- end -}}
	{{- end -}}
</table>
</div>
{{if .Content}}
<div class="w3-theme-l4 w3-padding">
	{{ .Content }}
</div>
{{end}}
</div>
{{ partial "nav-to-adj-page.html" . -}}
{{ partial "footer.html" . -}}